@model CDP.Core.Training.UserTraining

@{
    ViewData["Title"] = "Delete User Training";
}

<h2>Delete User Training</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Training)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Training)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrainingCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainingCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPrimary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPrimary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
    
    <form asp-action="DeleteUserTraining">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @*<a asp-action="UserTraining">Back to List</a>*@
        <a class="btn btn-info" asp-action="UserTraining"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </form>
</div>
